{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="card-section">
        <h2>Resultados</h2>
        <div id="results">
            <ul id="lista-incidentes">
                <!-- Aquí se agregarán los incidentes recibidos vía WebSocket -->
            </ul>
            <p>Los resultados se muestran aquí.</p>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="{% static 'js/results.js' %}"></script>
{% endblock %}
